<html>
  <head>
    <title>Welcome to Eventbrite !</title>
  </head>

    <body> 


        <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
            <h1 class="display-3">Welcome to Eventbrite ! </h1>
                <h3>Voici tous les événements : </h3>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
            </div>
        </div>  <!-- /jumbotron -->


       
            <div class="container">  <!-- A supprimer -->

                        <ul>
                <% if user_signed_in? %>
                    <li>
                    <%= link_to "Sign out", root_path, method: :delete %>
                    </li>
                    <li>
                    Voici ton email : <%= current_user.email %>
                    </li>
                    <li>
                    <%= link_to "Edit email / password", edit_user_registration_path %>
                    </li>
                    <li>
                    <%= link_to "Sign out", root_path, method: :destroy %>
                    </li>
                <% else %>
                    <li>    
                    <%= link_to "Sign in", new_user_session_path %>
                    </li>
                    <li>
                    <%= link_to "Sign up", new_user_registration_path %>
                    </li>
                <% end %>
                </ul>
            </div>  <!-- /A supprimer -->



            <div class="container">  <!-- container -->
        
                <% @events.each do |event| %>
            
                    <div class="card" style = "margin-bottom:25px" >
                <div class="card-header" >
                    Location : <%= event.location %>
                    <br>
                    Duration : <%= event.duration %> min
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= event.title %></h5>
                    <p class="card-text"><%= event.description %></p>
                    <a class="btn btn-primary" <%= link_to "Go to event page", event_path(event) %> </a>
                </div>
                </div>
                <% end %>

            </div> <!-- /container -->

    </main>

    </body>

</html>