
    <section>
    <div class="container">
    <center>
          <div class="jumbotron col-6 ">
              <%= form_tag url_for(action: 'create'), method: "post" do %>
                <div class="field">
                  <%= label_tag 'Title' %><br/>
                  <%= text_field_tag 'title', @event.title %>
                </div>
                <div class="field">
                  <%= label_tag 'Description' %><br/>
                  <%= text_area_tag 'description', @event.description %>
                </div>
                <div class="field">
                  <%= label_tag 'Location' %><br/>
                  <%= text_field_tag 'location', @event.location %>
                </div>
                 <div class="field">
                  <%= label_tag 'Start date' %><br/>
                  <%= date_field_tag 'start_date', @event.start_date %>
                </div>
                <div class="field"><br/>
                  <%= label_tag 'Duration (in min - must be a multiple of 5)' %><br/>
                  <%= text_field_tag 'duration', @event.duration %>
                </div>
              <div class="field">
                  <%= label_tag 'Price (€)' %><br/>
                  <%= text_field_tag 'price', @event.price %>
                </div>
                <div class="actions"><br/>
                  <%= submit_tag "Create Event" %>
                </div>
                    <% end %>
          </div>
          </center>
          </div>
    </section>

