<html>
  <head>
    <title>Show Event</title>
  <body> 
  
  <div class="container">
      <div class="jumbotron text-center text-primary bg-light">
      <h5> Your event</h5> 
      <h6> Info about event:</h6>
      </div>

        <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="row">Admin</th>
                  <th scope="row">Title</th>
                  <th scope="row">Description</th>
                  <th scope="row">Start Date</th>
                  <th scope="row">Duration</th>
                  <th scope="row">Location</th>
                  <th scope="row">Price</th>
                </tr>
              </thead>

                <tbody>

                  <tr>
                    <td> <%= @event.admin.email %></td>
                    <td> <%= @event.title %> </td>
                    <td> <%= @event.description %> </td>
                    <td> <%= @event.start_date %> </td>
                    <td> <%= @event.duration %> </td>
                    <td> <%= @event.location %> </td>
                    <td> <%= @event.price %> </td>
                    
                  </tr>
              
                </tbody>

        </table>
</div>
          
          <% if @event.admin.id == current_user.id %>
            <center> <div>
            <a class="btn btn-primary" <%= link_to "Go to Admin Event Page", {:controller => "attendances", :action => "index", :event_id => @event.id} %> </a>
            </div> </center>

          <% else %>

            <% if @event.current_user_is_already_attendant?(current_user.id) == false %>
                <center> <div>
                <a class="btn btn-primary" <%= link_to "Subscribe to Event", {:controller => "charges", :action => "new", :event_id => @event.id} %> </a>
                </div> </center>
            <% else %>
            <% end %>

          <% end %>

</body>
</html>